.backpackContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 30px;
}

.backpackItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.backpackItems li {
    list-style-type: none;
    width: 150px;
    height: 150px;
    background-color: white;
    filter: drop-shadow(2px 4px 4px #1c1c1c);

    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


h4 {
    color: white;
    font-size: 30px;
}

.emptyBackpack {
    display: flex;
    flex-direction: column;
    align-items: center;
}