.footerContainer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: black;
    height: 60px;
    padding: 0px;
    margin: 0;
}

.footerContainer li {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 0px 15px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}


.footerContainer li:hover {
    background-color: black;
    filter: invert(1);
}

.footerContainer li.selected {
    background-color: black;
    filter: invert(1);
}

.footerContainer li img {
    width: 40px;
    height: 40px;
}


.midSize {
    width: 30px !important;
    height: 30px !important;
}